<div class="container">
  <div class="row">

    <% @todos.each do |f| %>

      <div class="col-md-4">

        <div style="width: 18rem;">
        <%= image_tag('done1.png', class: "card-img-top", style: "width: 9.37rem") %>
        <div class="card-body">
          <h5 class="card-title"><%= f.title %></h5>
          <%= link_to "Done", user_todo_path(current_user, f), method: :delete, data: {confirm: "Are you sure? Delete this todo in your list?"}, class: "btn btn-success"%>
          <%= link_to "Show", user_todo_path(current_user, f), class: "btn btn-warning"%>
        </div>
        </div>

      </div>
    <% end %>

 </div>
</div>

